@import '../templates/partials/mast-head/style.css';

@import '../templates/views/album-grid/style.css';
@import '../templates/views/album-list/style.css';

@import '../templates/components/album-card/style.css';
@import '../templates/components/album-row/style.css';

@import '../templates/modules/random-album/style.css';
@import '../templates/modules/album-review/style.css';
@import '../templates/modules/album-row/style.css';


album-card {

	a {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	/*padding: 20px;
	background-color: #eeeeee;*/
}

album-detail {

	album-content {
		* {
		margin: unset;
	}

	album-stats {
		margin-block: 1rem;
/*    	border-bottom: 5px solid rgba(0, 0, 0, .05);*/
		.year {
			margin-bottom: 1rem;
		}
	}
}

@media (width > 800px) { 
	album-content {
		* {
			margin: unset;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;

		picture {
			align-self: top;
		}

		.right {
			display: grid;
			gap: 40px;
			align-content: space-between;
			aspect-ratio: 1 / 1;

			album-stats {
				margin: unset;
			}

			album-description {
				overflow-y: scroll;
			}
		}
	}
}
