random-album {
	display: grid;
	justify-content: center;

	album-card {
		max-width: 500px;
	}

	.album-actions {
		display: flex;
		button {
			margin: unset;
		}

		.rate-review {
			border: 1px solid black;
			display: grid;
			place-items: center;
			padding: .25rem 1rem;
			background-color: #efefef;
			font-size: 1rem;
			font-weight: 700;
		}
	}
}