album-review {

	album-content {
		* {
		margin: unset;
	}

	album-stats {
		margin-block: 1rem;
/*    	border-bottom: 5px solid rgba(0, 0, 0, .05);*/
		.year {
			margin-bottom: 1rem;
		}
	}

	.rating-review {
		overflow-y: scroll;
		padding: 0;

		album-rating, album-review {
			display: grid;
			gap: 10px;
			padding-right: 1rem;
		}

		album-rating {
			max-width: 80%;
			place-self: center;
		}

		album-review {
			display: grid;
			textarea {
				border: 2px solid black;
				resize: vertical;
			}
		}
	}
}

@media (width > 800px) { 
	album-content {
		* {
			margin: unset;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;

		picture {
			align-self: top;
		}

		.right {
			display: grid;
 			aspect-ratio: 1 / 1;

			album-stats {
				margin: unset;
			}
		}
	}
}
